<div class="container">

    <div class="row">
        <div class="text-center" style="width: 30rem;">
            <img class="fadeInDown" style="width: 100%;" src="assets/poke-logo.png" alt="Pokemon">
        </div>
        <div class="col text-center">

            <img class="img-input fadeInLeft"
                src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/{{data | date:'m'}}.png">

            <input class="form-control fadeInRight sombra" style="width: 300px; display: inline;" type="text"
                [(ngModel)]="pesquisa" placeholder="Pesquisar">
            <div class="row mt-2">
                <div class="col-sm-auto">
                    <nav class="navbar navbar-expand-sm navbar-light bg">

                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false"
                            aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarText">
                            <ul class="navbar-nav m-1">
                                <li class="nav-item">
                                    <a class="nav-link " id="ac1" (click)=" padraoInit()">Inicial</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="ac2" (click)="alfabeticoAZ()">A - Z</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="ac3" [routerLinkActive]="['active']"
                                        (click)="alfabeticoZA()">Z - A</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="ac4" [routerLinkActive]="['active']"
                                        (click)="pontosAtributoMaior()">Mais Forte</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="ac5" [routerLinkActive]="['active']"
                                        (click)="pontosAtributoMenor()">Mais Fraco</a>
                                </li>
                            </ul>

                            <select [(ngModel)]="tipo_selecionado"
                                (ngModelChange)="selTipo($event)" name="tipos" class="div-select">
                                <option value="inicial">
                                    Todos
                                </option>
                                <option *ngFor="let tipo of _lst_pokemons_tipos" [ngValue]="tipo">
                                    {{traduzTipo(tipo)}}
                                </option>

                            </select>

                            <select [(ngModel)]="_geracao" (ngModelChange)="selGeracao($event)" name="tipos"
                                class="div-select">
                                <option value="1">
                                    Geração 1
                                </option>
                                <option value="2">
                                    Geração 2
                                </option>
                                <option value="3">
                                    Geração 3
                                </option>
                            </select>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </div>


    <div class="row justify-content-lg-center mt-3">
        <ng-container *ngIf="lst_pokemons.length > 0">
            <div class="col m-4 d-flex justify-content-center"
                *ngFor="let pokemon of lst_pokemons | filter:pesquisa; let i = index;">
                <div class="card " style="width: 18rem;">
                    <img *ngIf="10>pokemon.id" class="card-img-top"
                        src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/00{{pokemon.id}}.png">
                    <img *ngIf="pokemon.id>=10 && 100 > pokemon.id" class="card-img-top"
                        src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/0{{pokemon.id}}.png">
                    <img *ngIf="pokemon.id>=100" class="card-img-top"
                        src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/{{pokemon.id}}.png">
                    <div class="card-body">
                        <p class="card-text">{{pokemon.name}}</p>
                        <div class="row">
                            <ng-container *ngFor="let t of pokemon.tipos">
                                <div class="col">
                                    <p class="tipo" [ngClass]="{
                            'poison' : t == 'poison',
                            'grama': t == 'grass',
                            'fogo' : t == 'fire',
                            'agua' : t == 'water',
                            'bug' : t == 'bug',
                            'normal' : t == 'normal',
                            'eletrico' : t == 'electric',
                            'terra' : t == 'ground',
                            'lutador' : t == 'fighting',
                            'psiquico' : t == 'psychic',
                            'pedra' : t == 'rock',
                            'voador' : t == 'flying',
                            'fantasma' : t == 'ghost',
                            'gelo' : t == 'ice',
                            'dragao' : t == 'dragon',
                            'metal' : t == 'steel',
                            'noturno': t == 'dark',
                            'fada' : t == 'fairy'
                             
                            }">{{traduzTipo(t)}}</p>
                                </div>
                            </ng-container>
                        </div>
                        <div class="d-flex justify-content-center">
                            <app-modal-detalhe-pokemon [idPoke]="pokemon.id"></app-modal-detalhe-pokemon>
                        </div>

                    </div>
                </div>
            </div>
        </ng-container>
    </div>


</div>