.modal-body{
    background-size: cover; /*Css padrão*/
    -webkit-background-size: cover; /*Css safari e chrome*/
    -moz-background-size: cover; /*Css firefox*/
    -ms-background-size: cover; /*Css IE não use mer#^@%#*/
    -o-background-size: cover; /*Css Opera*/
  }


  /* cores tipo de pokemon */
  .tipo{
    text-align: center;
    border-radius: 3px;
    color: white;
    padding: 6px;
  }
  
   /* animação pokebola */
   .detalheBotao{
    background-color: rgb(24, 23, 23);
    color: white;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px; 
    padding-right:10px;
    margin-left:45px;
}
  .poke{
    background-image: url('https://img.icons8.com/fluency/48/000000/pokeball.png');
    background-repeat: no-repeat;
  }
  .poke:hover {
    background-image: url('https://img.icons8.com/color/48/000000/open-pokeball--v2.png');
    background-repeat: no-repeat;
  }


    .animaItem{
        -webkit-animation-name: shake;
        animation-name: shake;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        }
        @-webkit-keyframes shake {
        0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        }
        10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
        }
        20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
        }
        }
        @keyframes shake {
        0%, 100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        }
        10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
        }
        20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
        }
        } 