<ng-template #content let-c="close" let-d="dismiss">
  <ng-container *ngIf="P">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">{{P.name}}</h4>
      <i type="button" class="bi bi-x-lg btn btn-danger btn-sm"(click)="d('Cross click')" ></i>
    </div>
    <div class="modal-body">
      <div class="row">
      <div class="col-9" style="width: 18rem;">
        <img class="card-img-top"
            src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/dream-world/{{P.id}}.svg"
            alt="{{P.name}}">
          </div>
          <div class="col">
            <table class="table">
              <tbody>
                <tr *ngFor= "let st of pokemon[0].stats">
                      <td>{{st.base_stat}} - {{st.stat.name}}</td>
                </tr>
            </tbody>
            </table>
            </div>

            
          </div>
          <div  class="row">
            <label>Tipo</label>
           <div *ngFor= "let st of pokemon[0].types" class="col-2">
           <p class="tipo" [ngClass]="{
          
          'poison' : st.type.name == 'poison',
          'grama': st.type.name == 'grass',
          'fogo' : st.type.name == 'fire',
          'agua' : st.type.name == 'water',
          'bug' : st.type.name == 'bug',
          'normal' : st.type.name == 'normal',
          'eletrico' : st.type.name == 'electric',
          'terra' : st.type.name == 'ground',
          'lutador' : st.type.name == 'fighting',
          'psiquico' : st.type.name == 'psychic',
          'pedra' : st.type.name == 'rock',
          'voador' : st.type.name == 'flying',
          'fantasma' : st.type.name == 'ghost',
          'gelo' : st.type.name == 'ice',
          'dragao' : st.type.name == 'dragon',
          'metalico' : st.type.name == 'steel',
          'noturno': st.type.name == 'dark',
          'fada' : st.type.name == 'fairy'
           
          }" >{{st.type.name}}</p>
          </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" routerLink="/pokemon" (click)="c('Save click')">Save</button>
    </div>
  </ng-container>
</ng-template>
<div class="d-flex justify-content-center">

 <div (click)="open(content)"  type="button" class="poke texto"> <p class="mt-2 texto">Detalhes</p></div>
</div>


