.modal-body{
    /* background: url("src/assets/pokebola.jpg") no-repeat center center fixed; */
    /* background: url("src/assets/fundo.jpg") no-repeat center center fixed; */
    background-size: cover; /*Css padrão*/
    -webkit-background-size: cover; /*Css safari e chrome*/
    -moz-background-size: cover; /*Css firefox*/
    -ms-background-size: cover; /*Css IE não use mer#^@%#*/
    -o-background-size: cover; /*Css Opera*/
  }

  .lista{
    list-style:none;
  }
  .tipo{
    text-align: center;
    border-radius: 3px;
    color: white;
    padding: 6px;
  }
  .grama{
      background-color: green;
     
  }
  .poison{
      background-color: rgb(110, 110, 110);
  }
  .fogo{
      background-color: firebrick;
  }
  .agua{
      background-color: rgb(20, 188, 255);
  }
  .bug{
      background-color: greenyellow;
      color:black;
  }
  .normal{
      background-color: bisque;
      color:black;
  }
  .eletrico{
      background-color: rgb(255, 196, 0);
  }
  .terra{
      background-color: rgb(104, 39, 9);
  }
  .lutador{
    background-color: rgb(104, 39, 9);
  }
  .psiquico{
      background-color: palevioletred;
  }
  .voador{
    background-color: blue;
  }
  .fantasma{
      background-color: rgb(110, 110, 110);
  }
  .gelo{
      background-color:skyblue;
  }
  .dragao{
    background-color: slateblue;
  }
  .metal{
      background-color: rgb(110, 110, 110);
  }
  .noturno{
      background-color: brown;
  }
  .fada{
      background-color: pink;
  }
  .pedra{
      background-color: rgb(44, 10, 5);
  }

  .texto{
      background-color: rgb(24, 23, 23);
      color: white;
      border-bottom-left-radius: 50px;
      border-top-left-radius: 50px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px; 
      padding-right:10px;
      margin-left:45px;
  }

  .poke{
    background-image: url('https://img.icons8.com/fluency/48/000000/pokeball.png');
    background-repeat: no-repeat;
  }
  .poke:hover {
    /* <img src="https://img.icons8.com/color/48/000000/open-pokeball--v2.png"/> */
    /* content:"https://img.icons8.com/color/48/000000/open-pokeball--v2.png"; */
    background-image: url('https://img.icons8.com/color/48/000000/open-pokeball--v2.png');
    background-repeat: no-repeat;
  }

